@media screen and (max-width: 390px) {
header{
 margin-top: -20px;
}

.grid {
 display: grid;
 grid-template-areas:
    "topmeny"
    "undermeny"
    "reklame"
    "slogan"
    "bilde"
    "bundmeny";
}

#topmeny {
 width: 403.666px;
 height: 75px;
 margin-right: -5px;
 background-color: #790000aa;
 display: flex;
 flex-direction: row;
}

body{
 margin: 0%;
}
 
#søkbar {
 width: 80px;
 height: 10px;
 margin: -1px;
 margin-left: -5px;
}
   
#søkbar1 {
 width: 80px;
 height: 10px;
 margin: -1px;
 margin-top: -50px;
 margin-left: -5px;
}
   
#søk {
 margin-left: 65px;
}
   
#søk1 {
 margin-left: 65px;
}


.avdelinger {
 background-color: #a65555;
 width: 403.666px;
 margin-top: -17px;
}

.avdelinger1 {
 background-color: #a65555;
 width: 403.666px;
 margin-top: -17px;
}

.avdelinger ul {
 list-style: none;
 display: flex;
 text-align: left;
 margin-left: -40px;
}

.avdelinger1 ul {
 list-style: none;
 display: flex;
 text-align: left;
 margin-left: 160px;
}


.avdelinger li {
 margin: 0 10px;
}

.avdelinger1 li {
 margin: 0 10px;
}

.avdelinger a {
 text-decoration: none;
 color: #000;
 font-weight: bold;
 font-size: 20px;
}
 
.typesko {
 width: 403.666px;
 margin-top: -17px;
}

.typesko ul {
 list-style: none;
 display: flex;
 text-align: left;
 margin-left: -10px;
 margin-top: -20px;
}

.typesko li {
 margin: 0 10px;
}
   
.typesko a {
 text-decoration: none;
 color: #000;
 font-weight: bold;
 font-size: 15px;
}

#mansko {
 font-size: 20px;
 margin-top: 15px;
 margin-left: 15px;
}

#linje2 {
 height: 1px;
 width: 100%;
 text-decoration: none;
 border: 1px solid black;
 background-color: #000;
 margin-top: -15px;
 margin-left: 0%;
}

#sectionbars {
 margin-top: 25px;
 margin-left: -30px;
}

#bars {
 list-style-type: none;
}


#sectiontitel {
 font-size: 20px;
 margin-top: 5px;
 margin-left: 25px;
}

#sectiontitel a {
 text-decoration: none;
}
      
#overskrift {
 color: black;
}

#overskrift2 {
 padding-left: 85px;
 margin-top: -20px;
 width: 318px;
 height: 90px;
}

#velkommen {
 color: #000;
 font-size: 40px;
 margin-top: -10px;
 margin-left: -90px;
}


#section-ikoner {
 margin-left: 10px;
}

.avdelinger a:hover {
 color: #fff;
}

.ikoner {
 padding: 10px;
 display: flex;
 justify-content: flex-end;
}
 
.ikoner ul {
 list-style: none;
 display: flex;
}

.ikoner li {
 margin: 0 2px;
}

.ikoner img {
 width: 35px;
 height: 30px;
 margin-top: 3px;
}

#reklame {
 background-image: url(../img/randombilde.png); /*kilde */
 padding-left: 85px;
 margin-top: -32px;
 width: 318px;
 height: 90px;
}

#reklame1 {
 background-color: #D9D9D9;
 padding-left: 85px;
 margin-top: -20px;
 width: 318px;
 height: 90px;
}

#linje1 {
 height: 1px;
 width: 150px;
 text-decoration: none;
 border: 1px solid black;
 background-color: #000;
 margin-top: -20px;
 margin-left: -110px;
}

#sesong {
 color: #fff;
 font-size: 35px;
 margin-top: -5px;
}

#sesong1 {
 color: #000;
 font-size: 25px;
 margin-top: -5px;
 margin-left: -100px;
}

#tilbud {
 color: #fff;
 font-size: 20px;
 margin-top: -25px;
 margin-left: 10px;
}

#tilbud1 {
 color: #000;
 font-size: 15px;
 margin-top: -15px;
 margin-left: -100px;
}

#slogan {
 background-color: #D9D9D9;
 padding-left: 85px;
 margin-top: 71px;
 width: 318px;
 height: 40px;
}

#slagord {
 color: #AAAAAA;
 font-size: 20px;
 width: 318px;
 margin-top: 0px;
 margin-left: -50px;
}


#bilde {
 border: 1px solid black;
 display: block;
 text-decoration: none;
 cursor: pointer;
 width: 340px;
 height: 400px;
 margin-top: 0px;
 margin-left: 30px;
}

#bilde1 img {
 width: 100%;
 height: 100%;
}

#bundmeny {
border: 1px solid black;
background-color: #0E1111;
width: 402px;
height: 155px;
margin-top: 23px;
align-content: center;
}

.informasjonssider1 a {
 text-decoration: none;
 color: #fff;
 font-weight: normal;
 font-size: 15px;
}

.informasjonssider1 li {
 width: 100px;
 margin: 0px;
 margin-left: -10px;
}

.informasjonssider1 ul {
 margin-top: 35px;
}


.informasjonssider2 a {
 text-decoration: none;
 color: #fff;
 font-weight: normal;
 font-size: 15px;
}
   
.informasjonssider2 li {
 width: 120px;
 margin: 0px;
 margin-left: 115px;
}

.informasjonssider2 ul {
 margin-top: -75px;
}

.informasjonssider3 a {
 text-decoration: none;
 color: #fff;
 font-weight: normal;
 font-size: 15px;
}

.informasjonssider3 li {
 width: 120px;
 margin: 0px;
 margin-left: 235px;
}
   
.informasjonssider3 ul {
 margin-top: -30px;
}

.sosiales {
 margin-left: 220px;
}

#airforce1white {
 list-style: none;
 border: 1px solid black;
 width: 50%;
 height: 50%;
 margin-top: 12%;
 margin-left: 15%;
 color: #000;
}

#produkt1text ul {
 border: 1px solid black;
 width: 70%;
 margin-top: -3%;
 margin-left: 1%;
 text-align: left;
 list-style: none;
 color: #000;
}

#produkt2 {
list-style: none;
margin-top: 17%; 
}

#boots {
 list-style: none;
 border: 1px solid black;
 width: 50%;
 height: 50%;
 margin-top: 12%;
 margin-left: 15%;
 color: #000;
}

#produkt2text ul {
 border: 1px solid black;
 width: 70%;
 margin-top: -3%;
 margin-left: 1%;
 text-align: left;
 list-style: none;
 color: #000;
}

#produkt3 {
 list-style: none;
 display: none;
}

#produkt3text ul {
 list-style: none;
 display: none;
}

#produkt4 {
 list-style: none;
 display: none;
}

#produkt4text ul {
 list-style: none;
 display: none;
}

}